body {
    background-color: white;
    color: black;
    font-family:'Courier New', Courier, monospace;
    line-height: 1.5;
    margin: 0;
    padding: 20px;
    font-size: 16px;
    text-align: left;
}

.icon-section {
    width: 70px;
    height: 70px;
    background-color: #f0f0f0;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    float: left;
    font-size: 11px;
    line-height: 6px;
    position: absolute;
}

.icon-img {
    width: 50%;
    height: 50%;
}

nav {
    background-color: white;
    color: black;
    padding: 0px;
    text-align: center;
}

main {
    border: 1.5px  solid black;
    align-content: center;
    width: 50%;
    min-height: 200px;
    margin: 0 auto;
    padding-inline: 20px;
    display:flex;
    flex-direction: column;
    overflow: scroll;
    white-space: nowrap;
}

.buttons {
    float: right;
}

.text {
    float: left;
}

.new-input {
    align-items: center;
    width: 50%;
    margin: 0 auto;
    display: flex;
    padding-inline: 20px;
    border: 1.5px solid black;
    flex-direction: column;
    margin-block: 20px;
}

.calendar {
    width: 50%;
    display: block;
    align-items: center;
    margin: 0 auto;
    padding-inline: 20px;
    justify-content: center;
    text-align: center;
}

footer {
    background-color: white;
    color: black;
    text-align: center;;
    position: relative;
    bottom: 0;
    width: 100%;
}

.link {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

